import React from 'react';
import { connect } from 'react-redux';
import { bindActionCreators } from 'redux';

const index = props => {
  return (
    <div>Hi Welcome React Artisan</div>
  );
};

const mapStateToProps = state => {
  /*
    return{
        ...state
    }
  */
}

const mapDispatchToProps = (dispatch) => {
  /*
  return bindActionCreators();
  */
}

export default connect(mapStateToProps, mapDispatchToProps)(index);
